<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.zekaio.api.dao.UserDao">
    <resultMap id="user" type="cn.zekaio.api.pojo.User">
        <id property="userId" column="user_id"/>
        <result property="uuid" column="uuid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="postsNum" column="posts_num"/>
        <result property="sex" column="sex"/>
        <result property="grade" column="grade"/>
        <result property="major" column="major"/>
        <result property="description" column="description"/>
        <result property="avatar" column="avatar"/>
        <result property="bg" column="bg"/>
        <result property="fansNum" column="fans_num"/>
        <result property="followNum" column="follow_num"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="getUserByUsername" resultMap="user">
        select *
        from `users`
        where `username` = #{username}
        limit 1;
    </select>

    <select id="getUserByUserId" resultMap="user">
        select *
        from `users`
        where `user_id` = #{user_id}
        limit 1;
    </select>

    <select id="getUserByUUID" resultMap="user">
        select *
        from `users`
        where `uuid` = #{uuid}
        limit 1;
    </select>

    <insert id="createUser">
        insert into `users`(`username`, `uuid`, `password`)
        values (#{username}, #{uuid}, #{password});
    </insert>

    <update id="updateUserInfo">
        update `users`
        set `username`    = #{username},
            `sex`         = #{sex},
            `grade`       = #{grade},
            `major`       = #{major},
            `description` = #{description}
        where `user_id` = #{user_id};
    </update>

    <update id="updateUserFollowNum">
        update `users`
        set `follow_num` = #{follow_num}
        where `user_id` = #{user_id};
    </update>

    <update id="updateUserFansNum">
        update `users`
        set `fans_num` = #{fans_num}
        where `user_id` = #{user_id};
    </update>

    <update id="updateUserPostsNum">
        update `users`
        set `posts_num` = #{posts_num}
        where `user_id` = #{user_id};
    </update>

    <update id="updateUserAvatar">
        update `users`
        set `avatar` = #{avatar}
        where `user_id` = #{user_id};
    </update>

    <update id="updateUserBg">
        update `users`
        set `bg` = #{bg}
        where `user_id` = #{user_id};
    </update>

    <select id="searchUser" resultMap="user">
        select *
        from `users`
        where `username` like CONCAT('%', #{keyword}, '%')
        <if test="last_id != null">
            and `user_id` <![CDATA[ < ]]> #{last_id}
        </if>
        order by `user_id`
        limit #{limit};
    </select>
</mapper>